body{
    height: 100vh;
    width: 100%;
    margin: 0 !important;
}

.page{
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: rgb(190, 229, 251);
    z-index: 0;
}

.header{
    width: 100%;
    height: 30px;
    margin-bottom: 45px;
    padding: 12px 0  8px 0;
    font-size: 30px;
    color: white;
    text-align: center;
    background-color: rgb(18, 63, 115);
    /*font-family: 'Yanone Kaffeesatz', sans-serif;*/
    /*font-family: 'Josefin Sans', sans-serif;*/
    font-family: 'Quicksand', sans-serif;
}

.container {
	width: 410px;
	height: 410px;
	background-color: rgb(231, 188, 148);
    margin-right: auto;
    margin-left: auto;
	/*display: flex;   
    flex-wrap: wrap;*/
	border-radius: 10px;
    position: relative;
}

/*@media only screen and (min-height: 0px){
    .container{
        height: 80vh;
        width: auto;
    }
}*/

.item{
	background-color: blue;
	height: 100%;
	width: 100%;
}

.square {
    /*float:left;*/
    background-color: rgb(233, 245, 252);
    position: absolute;
    border-radius: 5px;
    transition: all 0.3s;
    text-align: center;
    font-family: 'Telex', sans-serif;
    color: rgb(18, 63, 115);
}


.empty{
    /*float:left;*/
    background-color: none;
    position: relative;
    /*width: 0;
    padding-bottom : 30%;  = width for a 1:1 aspect ratio 
    margin:1.66%;
    height: 0;*/
}

.\33{
    margin: calc(10% / 6);
    width: 30%;
    height: 72px;
    padding: calc((30% - 72px)/2) 0;
    font-size: 72px;
    line-height: 72px;
}

/*.\33{
    margin: calc(10% / 6);
    width: 30%;
    height: 25%;
    padding: 0 calc(10%/6);
    font-size: 50px;
}*/

.\34{
    margin: calc(12% / 8);
    width: 22%;
    height: 56px;
    padding: calc((22% - 56px)/2) 0;
    font-size: 56px;
    line-height: 56px;
}

.\35{
    margin: calc(15% / 10);
    width: 17%;
    height: 43px;
    padding: calc((17% - 43px)/2) 0;
    font-size: 43px;
    line-height: 43px;
}

.size-buttons{
    width: 100%;
    padding: 30px 0 10px 0;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.button{
    margin: 5px;
    height: 30px;
    width: 60px;
    background-color: white;
    border-radius: 5px;
    border-style: none outset outset none;
    background-color: rgb(233, 245, 252);
}

.button-big{
    width: 90px;
    margin: auto;
    margin: 0 calc((100% - 90px)/2);
}

.button:active{
    border-style: inset none none inset;
}

#solved-status{
    visibility: hidden;
    z-index: 1;
    position: absolute;
    width: 600px;
    height: 30px;
    line-height: 30px;
    /*margin: 0 calc((100%-100px)/2);*/
    top: 260px;
    font-size: 30px;
    text-align: center;
    color: rgb(231, 188, 148);
    padding: 40px 0;
    font-family: 'Quicksand', sans-serif;
    left: calc(50vw - 300px);
    background-color: rgba(18, 63, 115, 0.7);
    border-radius: 8px;
}

@media screen and (max-width: 420px) {
/*@media (max-device-width: 420px) {*/
    .container{
        width: 250px;
        height: 250px;
    }
    .\33{
        width: 30%;
        height: 66px;
        padding: calc((30% - 66px)/2) 0;
        font-size: 66px;
        line-height: 66px;
    }
    .\34{
        width: 22%;
        height: 45px;
        padding: calc((22% - 45px)/2) 0;
        font-size: 45px;
        line-height: 45px;
    }
    .\35{
        width: 17%;
        height: 30px;
        padding: calc((17% - 30px)/2) 0;
        font-size: 30px;
        line-height: 30px;
    }
}

